name: CI

on:
  push:
  pull_request:
  release:
    types:
      - created

jobs:
  main:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        config:
          # - python_version: "2.7"
          #   tesseract_robotics: false
          - python_version: "3.6"
            tesseract_robotics: false
          - python_version: "3.7"
            tesseract_robotics: true
          - python_version: "3.8"
            tesseract_robotics: true
          - python_version: "3.9"
            tesseract_robotics: true
          - python_version: "3.10"
            tesseract_robotics: true
          - python_version: "3.11"
            tesseract_robotics: true
    steps:
    - uses: actions/checkout@v3
      with:
        path: rpi_general_robotics_toolbox_py
    - uses: actions/setup-python@v2
      with:
        python-version: '${{ matrix.config.python_version }}'
    - name: pip
      run: python -m pip install pytest wheel setuptools
    - name: pip tesseract-robotics
      if: '${{ matrix.config.tesseract_robotics }}'
      run: python -m pip install tesseract-robotics
    - name: pip local package
      run: pip install .
      working-directory: rpi_general_robotics_toolbox_py
    - name: pytest
      run: python -m pytest
      working-directory: rpi_general_robotics_toolbox_py
    - name: build wheel
      run: python setup.py bdist_wheel
      working-directory: rpi_general_robotics_toolbox_py
    - name: archive out
      uses: actions/upload-artifact@v2
      with:
        name: 'out'
        path: ./**/*.whl
